@font-face {
    font-family: "Open Sans";
    src: url("opensans.ttf");
}

* {
    font-family: "Open Sans";
}

body {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: url("background.jpeg");
    backdrop-filter: brightness(0.7);
}

/* div {
    outline: 1px solid red;
} */

span.size-48 {
    font-size: 48px;
    font-variation-settings: 'OPSZ' 48;
}

#top {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

#bottom {
    width: 100%;
    padding: 0 15px;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 4rem;
    display: flex;
    box-sizing: border-box;
    align-items: stretch;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.icon-button {
    display: inline-block;
    cursor: pointer;
}
.icon-button:hover {
    color: rgb(200, 200, 200) !important;
}
.icon-button:active {
    color: rgb(150, 150, 150) !important;
}

#auth {
    display: none;
    justify-content: center;
    align-items: center;
}
#auth input {
    border: 3px solid gray;
    border-radius: 5px;
    font-size: 1rem;
    margin-right: 1rem;
    padding: 5px;
}
#auth.shown {
    display: flex;
}

#grace, #jack {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    flex-basis: 50%;
}

.time {
    color: white;
    text-shadow: 1px 1px 3px black;
    padding: 10px 25px;
    padding-top: 0;
    height: 10rem;
}
#jack .time {
    text-align: right;
}
.time .big {
    font-size: 5rem;
    transition: font-size 0.5s ease-in-out;
    display: inline-block;
}
.time .small {
    display: inline-block;
    font-size: 1.35rem;
}

#menu.hidden {
    display: none;
}

#menu > div {
    margin-right: 1rem;
}
#menu > div:last-child {
    margin-right: 2rem;
}

.notification {
    background-color: red;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 10px;
    right: -10px;
}
#menu-button .notification {
    right: 0px;
}

.content {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

#text {
    background-color: rgba(150, 150, 150, 0.9);
    border: 3px solid black;
    border-radius: 10px;
    flex-grow: 1;
    padding: 1rem;
    font-size: 1rem;
    overflow-y: auto;
}

#textbox {
    background-color: rgba(255, 255, 255, 0.9);
    border: 3px solid black;
    border-radius: 10px;
    flex-grow: 1;
    padding: 1rem;
    resize: none;
    font-size: 1rem;
    overflow-y: auto;
}

#bookmarks {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
#bookmarks.hidden {
    visibility: hidden;
}
#bookmarks .bookmark {
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    flex-basis: 4rem;
    cursor: pointer;
}
.bookmark img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.bookmark span {
    font-size: 0.8rem;
    color: white;
    text-align: center;
    margin-top: 0.25rem;
    max-width: 4rem;
}
.bookmark:hover span {
    text-shadow: 0 0 2px white;
    font-weight: bold;
}
.bookmark:active {
    opacity: 0.8;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal.hidden {
    display: none;
}
.modal .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}
.bookmark-entry {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.bookmark-entry input {
    margin: 0 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 5px;
}

.mood div {
    width: 20rem;
    transition: margin-left 0.5s ease-in-out, margin-right 0.5s ease-in-out;
    position: relative;
    height: 1rem;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 20px;
}
.mood.hidden {
    visibility: hidden;
}
.mood.pointer {
    cursor: pointer;
}

.mood-entry {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.mood-color {
    height: 2rem;
    width: 20rem;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 20px;
}
.mood-entry div:last-child {
    color: white;
    width: 6rem;
}
.mood-entry:not(:last-child):hover {
    font-weight: bold;
    text-shadow: 0 0 2px white;
    cursor: pointer;
}
.mood-entry.mood-entry:not(:last-child):active {
    opacity: 0.8;
}